@charset "UTF-8";

/*CONFIGURAÇÕES GERAIS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Helvetica;
    max-width: 100vw;
    max-height: 100vh;
}

/*CONTAINER*/
.container{
    display: flex;
}

/*ASIDE*/
.sidebar{
    background-color: #006598;
    color: white;
    padding: 45px 85px;
    height: 100vh;

    position: fixed;

    display: flex;
    flex-direction: column;
    gap: 90px;

    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.500);
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img{
    width: 75px;
    margin-bottom: 16px;
}

.logo h1{
    font-weight: normal;
    font-size: 1.9rem;
}

.nav-bar ul{
    list-style-type: none;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 50px;
}

.nav-bar a{
    color: white;
    text-decoration: none;
    transition: .2s;
}

.nav-bar a:hover{
    text-decoration: underline;
    color: darkgrey;
}

/*CONTENT*/
.content{
   display: flex;
   flex-direction: column; 
}

/*MAIN BANNER*/
.main-banner{
    background-image: url(../imagens/banner2.jpg);
    background-size: contain;
    background-position: left center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    height: 520px;
    width: 1400px;
}