@charset "UTF-8";

/*CONFIGURAÇÕES GERAIS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    overflow-x: hidden;
}

button{
    background-color: #006598;
    color: white;
    font-size: 17px;

    margin-top: 20px;
    padding: 15px 18px;
    width: 170px;

    border: 1px solid transparent;
    cursor: pointer;
}

button:hover{
    background-color: #007cba;
}

/*MAIN*/
main{
    display: flex;
}

/*NAV*/
nav{
    background-color: #006598;

    width: 20%;
    padding: 10px 80px;

    color: white;

    display: flex;
    justify-content: center;
}

div#box1{
    position: fixed;
}

nav h1{
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 70px;
}

nav li{
    list-style: none;
    margin-bottom: 30px;
}

nav a{
    color: white;
    text-decoration: none;

    transition: .3s;
}

nav a:hover{
    color: lightgray;
    text-decoration: underline;
}

/*ARTICLE*/
/*configurações-geral-article*/
article{
    width: 80%;
}

section h2{
    color: #006598;
    font-weight: 500;
    font-size: 3em;

    margin-bottom: 35px;
}

div.main-text{
    width: 745px;

    color: #5e5d5d;
    font-size: 1.2em;
    text-align: justify;
    line-height: 35px;
}

div.main-text p{
    margin-bottom: 40px;
}

section#bem-vindo, section#sobre-nos, section#galeria, section#contato{
    margin-top: 65px;
    padding: 0 45px 0 75px;
}

/*bem-vindo*/
div#box2{
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 50px;

    padding-right: 30px;
}

/*sobre-nos*/
div#box3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: stretch;
    gap: 50px;
}

/*galeria*/
section#galeria{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

div.gal-1, div.gal-2, div.gal-3{
    display: flex;
    gap: 25px;
}

/*contato*/
#contato form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contato input, #contato textarea{
    border: 1px solid #006598;

    width: 480px;
    padding: 10px;
}

#contato textarea{
    height: 160px;
}

#contato input::placeholder, #contato textarea::placeholder{
    color: #006598;
    font-family: Helvetica;
}

#contato button{
    margin-top: 0px;
}

/*FOOTER*/
footer{
    text-align: center;
    color: #5e5d5d;
    margin-top: 35px;
}
/*IMAGES*/
nav div#image-stand{
    background-image: url(../imagens/stand.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    margin: 25px 0 15px 0;

    height: 90px;
}

section#main-banner{
    background-image: url(../imagens/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    height: 570px;

    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.500);
}

/*Banner*/
.banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    width: 350px;
    height: 500px;

    border-radius: 5px;

    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.500);
}

#banner1{
    background-image: url(../imagens/banner3.jpg);
}

#banner2{
    background-image: url(../imagens/banner4.jpg);
}

/*Galeria*/
div.gal-1 img{
    width: 190px;
    height: 200px;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.350);
}

div.gal-2 img{
   width: 332px;
   height: 200px;
   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.350);
}

div.gal-3 img{
    width: 242px;
    height: 200px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.350);
}